body {
   font-family: Georgia, Times New Roman, serif;
}

h1,h2,h3 {
  font-family: Helvetica Neue, Georgia, sans-serif;
}

img {
  /*
  * Делаем изображения
  * блочными элементами.
  */
  display: block;
  /*
  * Делаем изображения «резиновыми»:
  * задаем максимальную ширину в 100%.
  */
  max-width: 100%;
  height: auto;
  /*
  * Добавляем увеличенный отступ
  * после изображений.
  */
  margin-bottom: 2em;
}

ol, ul {
  /*
  * Убираем отступы списков,
  * которые браузеры ставят
  * по умолчанию.
  */
  margin: 0;
  padding: 0;
}

ol li {
  /*
  * Для элементов нумерованного
  * списка используем
  * арабские числа.
  */
  list-style: decimal outside;
  /*
  * Каждому элементу списка
  * добавляем нижний отступ,
  * чтобы они не слипались
  * друг с другом.
  */
  margin: 0 0 .44em 0;
}

ul li {
  /*
  * Прячем маркеры
  * элементов ненумерованного
  * списка.
  */
  list-style: none;
  /*
  * Каждому элементу списка
  * добавляем нижний отступ,
  * чтобы они не слипались
  * друг с другом.
  */
  margin: 0 0 .44em 0;
  /*
  * Задаём левый внутренний
  * отступ для втяжки.
  */
  padding-left: 30px;
}

.first {
  /*
  * Обнуляем нижний отступ
  * у абзацев, идущих перед
  * списками.
  */
  margin-bottom: 0;
}
